<?php
$config = array(
  'host' => 'localhost',
  'port' => '6544',
  'recordings_dir' => '/var/lib/mythtv/recordings/',
  'target_dir' => '/opt/mythsym/Recordings/',
  'debug' => false,
  'unknown_season' => 100,
  'unknown_episode_start' => 1,
  '' => '',
);
